services:
  - type: web
    name: movie-recommender-api
    env: python
    plan: free

    buildCommand: |
      pip install --upgrade pip
      pip install --no-cache-dir -r Fast_requirements.txt

    startCommand: uvicorn api:app --host 0.0.0.0 --port $PORT

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0

    healthCheckPath: /health
    autoDeploy: true
